@import 'src/settings/vars'
@import 'src/settings/mixins'

.hero
  height: 100vh
  color: white
  display: flex
  justify-content: space-evenly
  align-items: center
  text-align: center
  &::before
    background-image: url('./full.jpg')
    background-repeat: no-repeat
    background-position: center top
    background-size: cover
    content: ''
    height: 100%
    left: 0
    position: fixed
    top: 0
    width: 100%
    will-change: transform
    z-index: -1
  &__title
    font-size: 4em
    font-family: 'victor_thin'
    text-transform: uppercase
